body{
    display:flex;
    justify-content:space-around;
    align-content: center;
}
a{
    margin-top:30vh;
    text-decoration-line: none;
    color:black;
    font-size:26px;
    padding:10px;
    border:2px solid black;
}
a:hover{
    color:white;
    background:black;
    font-size:32px;
    padding:15px;
    border:1px dashed white;
}